// Here you can store all the global variables.
// The reasoning behind the underscore before the filename,
// is so the file doesn't get compiled

// Colors & Backgrounds
$main-background: linear-gradient(#ffff00, #ffff4d);

// Fonts
$font-logo: "Righteous", cursive;
$font-body: K2D, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";

